apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-configuration
  namespace: {{ .Release.Namespace }}
data:
  config: |
    class Config:
        HOST= '{{ required "'k8sScrMgr.host': --set k8sScrMgr.host=<k8s-scr-mgr URL>" .Values.k8sScrMgr.host }}'
        CONTAINER_PREFIX= '{{ .Values.k8sScrMgr.container_prefix }}'
        VIYA_NAMESPACE= '{{ .Values.k8sScrMgr.viyaNamespace }}'
        MAS_POD= '{{ .Values.k8sScrMgr.mas_pod }}'
        LIST_SCR= {{ ternary "True" "False" .Values.k8sScrMgr.list_scr }}
        PULL_SCR= {{ ternary "True" "False" .Values.k8sScrMgr.pull_scr }}
        RESTART_SCR= {{ ternary "True" "False" .Values.k8sScrMgr.restart_scr }}
        DELETE_SCR= {{ ternary "True" "False" .Values.k8sScrMgr.delete_scr }}
        GETLOG_SCR= {{ ternary "True" "False" .Values.k8sScrMgr.getlog_scr }}
        GETINFO_SCR= {{ ternary "True" "False" .Values.k8sScrMgr.getinfo_scr }}
        GETLOG_MAS= {{ ternary "True" "False" .Values.k8sScrMgr.getlog_mas }}
        ##################################################
        # Below are settings to map namespaces to container registries
        #################################################
        PUBLISHING_DESTINATIONS= 
{{- /* Build a map in memory  first */}}
{{- $ns := "-" -}}
{{- $dest := dict -}}
{{- $dbSecret := "False" -}}
{{- $list := .Values.scr | default (list) -}}
{{- range $i, $item := $list }}
  {{- /* Determine publishing destination */}}
  {{- $publishingDestination := (required (printf "'scr[%d].publishingDestination': --set scr[%d].publishingDestination=<viya publishing destination>" $i $i) $item.publishingDestination) | lower -}}

  {{- /* Safely dig nested values and normalize types */}}
  {{- if eq $i 0 }}
    {{- /* For the first item: default to "scr" if missing */}}
    {{- $ns = (default $.Values.defaultScrNamespace $item.namespace) | lower | replace " " "-" | trunc 63 -}}
  {{- else }}
    {{- /* For subsequent items: namespace is required */}}
    {{- $ns = (required (printf "'scr[%d].namespace': --set scr[%d].namespace=<namespace>" $i $i) $item.namespace) | lower | replace " " "-" | trunc 63 -}}
  {{- end }}

  {{- $namespace := $ns -}}

  {{- $containerRegistry := (required (printf "'scr[%d].dockerCredentials.baseRepoURL': --set scr[%d].dockerCredentials.baseRepoURL=<container registry URI>" $i $i) $item.dockerCredentials.baseRepoURL) | lower -}}

  {{- $dbSecret := "False" -}}
  {{- if $item.dbCredentials }}
    {{- $dbSecret = "True" -}}
  {{ end }} 
  {{- $setDbSecret := $dbSecret -}}

  {{- /* Compose the inner value and add it to the map */}}
  {{- $val := dict "namespace" $namespace "registry" $containerRegistry "setDbSecret" $setDbSecret -}}
  {{- $_ := set $dest $publishingDestination $val -}}
{{- end }}

{{- /* Pretty-print JSON and indent for YAML block scalar */ -}}
{ {{ toPrettyJson $dest | trimPrefix "{\n" | trimSuffix "\n}" | nindent 27 }} }