{{- $seen := dict -}} {{/* set of namespaces we've already emitted */}}
{{- range $i, $item := .Values.scr }}
  {{- /* Compute normalized namespace */}}
  {{- $ns := "" -}}
  {{- if eq $i 0 }}
    {{- $ns = (default $.Values.defaultScrNamespace $item.namespace) | lower | replace " " "-" | trunc 63 -}}
  {{- else }}
    {{- $ns = (required (printf "'scr[%d].namespace': --set scr[%d].namespace=<namespace>" $i $i) $item.namespace) | lower | replace " " "-" | trunc 63 -}}
  {{- end }}

  {{- /* Only create Role once per unique namespace */}}
  {{- if not (hasKey $seen $ns) }}
    {{- /* Mark as seen before rendering to be safe in nested/ranged contexts */}}
    {{- $_ := set $seen $ns true -}}

---

apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: {{ $.Release.Name }}-role
  namespace: {{ $ns | quote }} # namespace where SCRs are deployed
rules:
  - apiGroups: ["apps"]
    resources: ["deployments", "replicasets"]
    verbs: ["get", "list", "watch", "update", "patch", "delete"]
  - apiGroups: [""]
    resources: ["pods", "services", "pods/log"]
    verbs: ["get", "list", "watch", "update", "patch", "delete"]
metadata:
  name: {{ $.Release.Name }}-role
  namespace: {{ $ns | quote }} # namespace where SCRs are deployed
rules:
  - apiGroups: ["apps"]
    resources: ["deployments", "replicasets"]
    verbs: ["get", "list", "watch", "update", "patch", "delete"]
  - apiGroups: [""]
    resources: ["pods", "services", "pods/log"]
    verbs: ["get", "list", "watch", "update", "patch", "delete"]
  - apiGroups: ["networking.k8s.io"]
    resources: ["ingresses"]
    verbs: ["delete"]

---

  {{- end }}
{{- end }}
