{{- $seen := dict -}} {{/* set of namespaces we've already emitted */}}
{{- range $i, $item := .Values.scr }}
  {{- /* Compute normalized namespace */}}
  {{- $ns := "" -}}
  {{- if eq $i 0 }}
    {{- $ns = (default $.Values.defaultScrNamespace $item.namespace) | lower | replace " " "-" | trunc 63 -}}
  {{- else }}
    {{- $ns = (required (printf "'scr[%d].namespace': --set scr[%d].namespace=<namespace>" $i $i) $item.namespace) | lower | replace " " "-" | trunc 63 -}}
  {{- end }}

  {{- /* Only create Role once per unique namespace */}}
  {{- if not (hasKey $seen $ns) }}
    {{- /* Mark as seen before rendering to be safe in nested/ranged contexts */}}
    {{- $_ := set $seen $ns true -}}

---
  
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: {{ $.Release.Name }}-binding-{{ $ns }}
  namespace: {{ $ns | quote }} # namespace where SCRs are deployed
subjects:
- kind: ServiceAccount
  name: default
  namespace: {{ $.Release.Namespace | quote }} # namespace where k8s-scr-mgr pod is running
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: {{ $.Release.Name }}-role 
  
  {{- end }}
{{- end }}
