{{- range $i, $item := .Values.scr }}
  {{/* Create Namespace if not exists */}}
  {{- $name := $item.namespace | lower | replace " " "-" | trunc 63 -}}
  {{- $existing := (lookup "v1" "Namespace" "" $name) -}}
  {{- if not $existing }}

---
apiVersion: v1
kind: Namespace
metadata:
  name: {{ $name }}
  annotations:
    "helm.sh/resource-policy": keep

  {{- end }}  
{{- end }}  

