{{- $ns := "" -}}
{{- range $i, $item := .Values.scr }}
  {{- if eq $i 0 }}
    {{- /* For the first item: default to "scr" if missing */}}
    {{- $ns = (default $.Values.defaultScrNamespace $item.namespace) | lower | replace " " "-" | trunc 63 -}}
  {{- else }}
    {{- /* For subsequent items: hard-require namespace */}}
    {{- $ns = (required (printf "Missing parameter 'scr[%d].namespace': --set scr[%d].namespace=<container registry location (URI)>" $i $i) $item.namespace) | lower | replace " " "-" | trunc 63 -}}
  {{- end }}
  
  {{- $namespace := $ns -}}

  {{/* Create Namespace if not exists */}}
  {{- $existing := (lookup "v1" "Namespace" "" $namespace) -}}
  {{- if not $existing }}

---
apiVersion: v1
kind: Namespace
metadata:
  name: {{ $namespace }}
  annotations:
    "helm.sh/resource-policy": keep

  {{- end -}}  
{{- end }}  