
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-scr-yaml-template
  namespace: {{ .Release.Namespace }}
data:
{{- if (empty .Values.k8sScrMgr.scr_yaml_template) }}
  template: |
    apiVersion: apps/v1
    kind: Deployment
    metadata:
      name: <PREFIX><SCR-NAME>
      namespace: <NAMESPACE>
      labels:
        app-owner: <APP-OWNER>
        app.kubernetes.io/name: <PREFIX><SCR-NAME>
    spec:
      replicas: <REPLICAS>
      selector:
        matchLabels:
          app.kubernetes.io/name: <PREFIX><SCR-NAME>
      template:
        metadata:
          labels:
            app-owner: <APP-OWNER>
            app.kubernetes.io/name: <PREFIX><SCR-NAME>
        spec:
          containers:
          - name: <PREFIX><SCR-NAME>
            image: <CONTAINER-REGISTRY>/<IMAGE-NAME>:<SCR-TAG>
            imagePullPolicy: <IMAGE-PULL-POLICY>
            ports:
            - name: http
              containerPort: 8080
              protocol: TCP
            volumeMounts:
    <DB-SECRET-MOUNT>
    <ENV-VARS>          
            securityContext:
              capabilities:
                drop:
                - ALL
              privileged: false
              runAsUser: 1001
              runAsNonRoot: true
              allowPrivilegeEscalation: false
          restartPolicy: Always
          securityContext: {}
          imagePullSecrets:
          - name: <DOCKER-PULL-SECRET>
          volumes:
    <DB-SECRET-VOLUME>
    ---
    apiVersion: v1
    kind: Service
    metadata:
      name: <PREFIX><SCR-NAME>
      namespace: <NAMESPACE>
      labels:
        app-owner: <APP-OWNER>
        app.kubernetes.io/name: <PREFIX><SCR-NAME>
    spec:
      ports:
      - name: http
        protocol: TCP
        port: 80
        targetPort: http
      selector:
        app-owner: <APP-OWNER>
        app.kubernetes.io/name: <PREFIX><SCR-NAME>
      type: ClusterIP
    ---
    apiVersion: networking.k8s.io/v1
    kind: Ingress
    metadata:
      name: <PREFIX><SCR-NAME>
      namespace: <NAMESPACE>
      labels:
        app-owner: <APP-OWNER>
        app.kubernetes.io/name: <PREFIX><SCR-NAME>
      annotations:
        nginx.ingress.kubernetes.io/ssl-redirect: "false"
    spec:
      ingressClassName: nginx
      tls:
      - hosts:
        - <HOST>
        secretName: net-sas-com-app-certs
      rules:
      - host: <HOST>
        http:
          paths:
          - path: /<SCR-ENDPOINT>
            pathType: Prefix
            backend:
              service:
                name: <PREFIX><SCR-NAME>
                port:
                  number: 80
{{- else }}
  template: |
{{ .Values.k8sScrMgr.scr_yaml_template | indent 4 }}
{{- end }}                  