apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-docker-pull-secret   # do not change this name!
  namespace: {{ .Values.namespace.ns_scr }}
type: kubernetes.io/dockerconfigjson
stringData:
  .dockerconfigjson: |
    {
      "auths": {
        "{{ required "Missing parameter 'dockerCredentials.baseRepoURL': --set dockerCredentials.baseRepoURL=<container registry location (URI)>" .Values.dockerCredentials.baseRepoURL }}": {
          "username": "{{ required "Missing parameter 'dockerCredentials.registryId': --set dockerCredentials.registryId=<container registry name>" .Values.dockerCredentials.registryId }}",
          "password": "{{ required "Missing parameter 'dockerCredentials.registryPassword': --set dockerCredentials.registryPassword=<container registry password>" .Values.dockerCredentials.registryPassword }}",
           "auth": "{{ printf "%s:%s" .Values.dockerCredentials.registryId .Values.dockerCredentials.registryPassword | b64enc }}"
        }
      }
    }

