{{- if .Values.dbCredentials.connectionstring }}
apiVersion: v1
kind: Secret
metadata:
  name: scr-db-secrets
  #name: {{ .Release.Name }}-db-secret # do not change this name!
  namespace: {{ .Values.namespace.ns_scr }} 
type: Opaque
data:
  db.secrets: {{ printf "connectionstring=%s" .Values.dbCredentials.connectionstring | b64enc | quote }}
{{- end }}
